.row-data{

}
.row-data .date-picker,.row-data .add-publish{
	display: inline-block;
}
.row-data .add-publish{
	margin-right: 20px;
	float: right;
	position: relative;
	margin-left: 10px;
	width: 150px;
}
.row-data button{
	margin-right: 5px;
}
.row-data .publish-class-title{
    color: navy;
    font-size: 15px;
}
