body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.main-container{
	 
}
.emp-name{
 font-size: 18px;
 margin-right: 10px;
}
.emp-occupation{
  font-size: 20px;
}
.link-button{
  display: inline-block;
}
.login-div{

}
.login-button{
  margin-right: 10px;
}
.show-login{
	display: none;
}
.admin-form{
  position: absolute;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  width: 250px;
  top: 200px;
}
.form-field{
  height: 20px;
  padding-bottom: 5px;
}
.form-field .form-label{
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    font-family: Kievit;
    width: 80px;
}
.form-field .form-input{
  width:150px;
}
.button-groups{
  text-align: right;
  padding-right: 10px;
}
.ok-button{
  margin-right: 5px;
}
