.content-div{
	height: 700px;
    width: 1200px;
    position: relative;
}
.content-button-save{
    
}
.content-div .save-button-div{
    position: absolute;
    bottom: 50px;
    right: 0px;
    left: 0px;
    margin: 0px auto;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 50px;
}