.user-login-form{
   position: absolute;
   left: 0px;
   right: 0px;
   margin: 0px auto;
   width: 400px;
   top: 200px;
}
.employee-form .upload-image{
    position: absolute;
    top:0px;
    right:20px;
}
.field-div{
  
}
.error-msg{
	margin-left:75px;
}
.sign-in .form-button{
	margin-left: 50%;
}
